/*
PURPOSE:
----------------------------------------------------
This CSS sheet is for http://dis-orientation.info
----------------------------------------------------

UPDATES AND CHANGELOG:
----------------------------------------------------
- 2013-11-08
	- Inception
----------------------------------------------------

RIGHTS:
----------------------------------------------------
This CSS style sheet is placed under the Creative
Commons Attribution-NonCommercial-ShareAlike 
3.0 Unported License:
http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US

Modify and use as you wish, though not for commercial 
purposes. Attribute and share under a similar license!
----------------------------------------------------
*/


/*
MAIN BODY STYLING:
----------------------------------------------------
*/

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #261309;
	background-color: #EEE9CA;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Times New Roman", Times, serif;
}

a, a:hover{
	color: #DD6E0F;
	text-decoration: none;
}

p{
	text-align: justify;
}

/*
DIV CONTAINERS AND SOME STYLING THEREOF:
----------------------------------------------------
*/

#main-wrapper{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 900px;
}

#header-wrapper{
	width:80%;
	margin: 0 auto;
	padding-bottom: 3em;
	border-bottom: 0.188em solid #4B4137;
}

#logo{
	position:absolute;
	top: 0;
	right: 0;
}

#page-title{
	position: inherit;
	width:100%;
	color: #B22613;
	text-decoration: none;
}

#page-title table td.left{
	text-align: left;
	vertical-align:middle;
}

#page-title table td.right{
	text-align: right;
	vertical-align:middle;
}

#header{
	width: 100%;
	margin: 0 auto;
	display: block;
}

#content-wrapper{
	width: 80%;
	clear: both;
	margin: 0 auto;
	padding-bottom: 1em;
}

#footer-wrapper{
	display: block;
	width:80%;
	margin:0 auto;
	padding: 1em 0.5em 0em 0.5em;
}

#footer{
	width:100%;
	margin: 0 auto;
	font-weight:900;
	font-stretch: expanded;
	text-align: center;
	border-top: 0.188em solid #4B4137;
}

#footer p{
	text-align: center;
	font-size: 0.45em;
}

/*
NAVIGATION BAR:
----------------------------------------------------
*/

#header ul{
	font-size: larger;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header ul li{
	display: block;
	position: relative;
	float: left;
}

#header li ul{
	display: none; 
}

#header ul li a{
	display: block;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	background: #4B4137;
	margin-left: 1px;
	white-space: nowrap;
}

#header ul li a:hover{
	background: #4B4137; 
}

#header li:hover ul{
	display: block;
	position: absolute;
}

#header li:hover li{
	float: none;
	font-size: 11px;
}

#header li:hover a{
	background: #4B4137; 
}

#header li:hover li a:hover{
	background: #4B4137; 
}

/*
STYLING FOR BLOG POSTS:
----------------------------------------------------
*/

.post{
	margin-bottom: 4%;
	border-bottom: 0.07em solid #4B4137;
}

/* Gets rid of border-bottom for last post in blog posts,
since there is already a border separating content from footer
*/
.post-last{
	margin-bottom: 4%;
}

.post-excerpt{
	padding-top: 15px;
}

.excerpt-link, .excerpt-link:hover{
	color: #261309;
	text-decoration: none;
}

.post-title{
	font-size: large;
	font-weight: bold;
	line-height: 1em;
}

.date{
	font-size: small;
	font-weight: bold;
	margin-top: 3px;
}