<!DOCTYPE html>
<html>

	<head>
	
		<title>{{ site.name }}</title>
		
		<meta charset='utf-8' /> 
		
		<meta name="description" content="{{ site.description }}" />
		
		<meta name="keywords" content="disorientation, disorientation guides, university" />
		
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		
	</head>

	<body>
		
		<div id="main-wrapper">
		
			<div id="logo"><img src="/images/DiplomaFistMarkup.gif" alt="Solidarity Fist Diploma" width="125" height="103" style="background-color:#EEE9CA" /></div>

			<div id="header-wrapper">
		
				<div id="page-title"><h1><a href="http://msu.dis-orientation.info">XYZ Disorientation</a></h1></div><!-- END page-title div-->
				
				<div id="header">
					<ul>
						<li><a href="http://msu.dis-orientation.info">XYZ Blog</a></li>
						<li><a href="http://msu.dis-orientation.info/dogs">DOGs</a></li>
						<li><a href="http://msu.dis-orientation.info/about">About</a></li>
						<li><a href="http://msu.dis-orientation.info/contact">Contact</a></li>
						<li><a href="http://dis-orientation.info">Collective Home</a></li>
					</ul>
				</div><!-- END header div-->
			
			</div><!-- END header-wrapper div-->
			
			<div id="content-wrapper">
