<!DOCTYPE html>
<html>

	<head>
	
		<title>{{ site.name }}</title>
		
		<meta charset='utf-8' /> 
		
		<meta name="description" content="{{ site.description }}" />
		
		<meta name="keywords" content="disorientation, disorientation guides, university" />
		
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		
	</head>

	<body>
		
		<div id="main-wrapper">
		
			<div id="logo"><img src="/images/DiplomaFistMarkup.gif" alt="Solidarity Fist Diploma" width="150" height="124" style="background-color:#EEE9CA" /></div>

			<div id="header-wrapper">
		
				<div id="page-title"><table><tr><td class="left"><h1><a href="http://dis-orientation.info">XYZ Dis-orientation</a></h1></td><td class="right"><a href="https://twitter.com/dis_orientation"><img alt="twitter" width="40" src="/../images/twitter.png"></a></td></tr></table></div><!-- END page-title div-->
				
				<div id="header">
					<ul>
						<li><a href="http://xyz.dis-orientation.info">XYZ Blog</a></li>
						<li><a href="http://xyz.dis-orientation.info/dogs">DOGs</a></li>
						<li><a href="http://xyz.dis-orientation.info/about">About</a></li>
						<li><a href="http://xyz.dis-orientation.info/contact">Contact</a></li>
						<li><a href="http://dis-orientation.info">Collective Home</a></li>
					</ul>
				</div><!-- END header div-->
			
			</div><!-- END header-wrapper div-->
			
			<div id="content-wrapper">
